.ballContainer {
    position: absolute;
    top: 20%;
    left: -10%;
}

.grass {
    width:100%;
    height:10%;
    position:fixed;
    bottom:0;
    left: 0;
    background-color:green;
}

.ball {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}

button {
    position: absolute;
    top: 0;
    right: 0;
}

.main {
    display: inline-block;
    position: relative;
}

.bounce-ball {
    left: -10%;
    position: absolute;
    bottom: 10%;
    animation: bounce 0.5s ease-out alternate infinite, move 5s ease-out alternate infinite; 
}

@-webkit-keyframes bounce {
    0%   { transform: translateY(0vw) ;}
    25%  { transform: translateY(-10vw) ;}
    50% { transform: translateY(-20vw);}
    100% { transform: translateY(-30vw);}
}

@-webkit-keyframes move {
    0% {
        transform: translateX(0vw)
    }
    100% {
        transform: translateX(calc(110vw - 50px))
    }
}